html, body{
    scroll-behavior: smooth;
    

}

@import url('https://fonts.googleapis.com/css2?family=Khmer&display=swap');

td {
    font-family: "Khmer", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.col-sm-12 {
    overflow: auto;
}

#example1_wrapper>.row:first-child {
    margin: 0 10px;
}
.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropdown-content p:hover {
    background-color: #f1f1f1;
}